{% extends 'base.html' %}

{% block content %}
<br />

{% if messages %}
    {% for message in messages %}
        <h2>{{ message }}</h2>
    {% endfor %}
{% endif %}

<br />
<h4>Fields to Change</h4>

<form action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        {% for field in form_field %}
            {{ field.label_tag }}
            <br/>
            {{ field }}
            <br />
            <br />
        {% endfor %}

    <br />

    <input type="submit" value="Save">
</form>

{% endblock %}